@model Cbs.Web.UI.Models.LoginViewModel
@{
    Layout = null;
    string guid = Guid.NewGuid().ToString();
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>@string.Format("{0} | Login  | {1}", Cbs.Web.UI.Helpers.AppHelper.ApplicationName, Cbs.Web.UI.Helpers.AppHelper.Version)</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <!-- Favicon icon -->
    <link rel="icon" href="@Url.Content("~/images/favicon.ico")" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,800" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/bootstrap/css/bootstrap.min.css")?guid=@guid">
    <!-- themify-icons line icon -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/icon/themify-icons/themify-icons.css")?guid=@guid">
    <!-- ico font -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/icon/icofont/css/icofont.css")?guid=@guid">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/toastr.min.css")?guid=@guid">

    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/style.css")?guid=@guid">
</head>
<body class="fix-menu">
    @Html.Hidden("hdMessages", Newtonsoft.Json.JsonConvert.SerializeObject(Model))

    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
                <div class="ring"><div class="frame"></div></div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->

    <section class="login-block" style="background:url(@Url.Content("~/images/auth/bg_fiber_red.jpg"));background-size:cover">
        <!-- Container-fluid starts -->
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <!-- Authentication card start -->
                    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "md-float-material form-material" }))
                    {
                        <div class="auth-box card">
                            <div class="card-block">
                                <div class="text-center">
                                    <img src="@Url.Content("~/images/tcdd-2.jpg")" alt="logo.png">
                                </div>
                                <hr />
                                <div class="row m-b-20">
                                    <div class="col-md-12">
                                        <h5 class="text-center">GIS Web Interface</h5>
                                    </div>
                                </div>
                                <div class="form-group form-primary">
                                    @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", @required = "", @placeholder = "Username" })
                                    <span class="form-bar"></span>
                                </div>
                                <div class="form-group form-primary">
                                    <input type="password" name="Password" class="form-control" required="" placeholder="Password">
                                    <span class="form-bar"></span>
                                </div>
                                <div class="row m-t-30">
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                    </div>
                                </div>
                                @*@Html.Hidden("SelectedLanguageKey", Model == null ? "tr-TR" : Model.SelectedLanguageKey)*@
                                <hr>
                                <div class="col-md-12">
                                    <h6 class="text-center text-muted">Version: @Cbs.Web.UI.Helpers.AppHelper.Version</h6>
                                </div>
                            </div>
                        </div>
                    }
                    <!-- end of form -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
        <!-- end of container-fluid -->
    </section>

    <!-- Required Jquery -->
    <script type="text/javascript" src="@Url.Content("~/jquery/js/jquery.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/jquery-ui/js/jquery-ui.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/popper.js/js/popper.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/bootstrap/js/bootstrap.min.js")?guid=@guid"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="@Url.Content("~/jquery-slimscroll/js/jquery.slimscroll.js")?guid=@guid"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="@Url.Content("~/modernizr/js/modernizr.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/modernizr/js/css-scrollbars.js")?guid=@guid"></script>
    <!-- i18next.min.js -->
    <script type="text/javascript" src="@Url.Content("~/i18next/js/i18next.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/i18next-xhr-backend/js/i18nextXHRBackend.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/jquery-i18next/js/jquery-i18next.min.js")?guid=@guid"></script>
    <script type="text/javascript" src="@Url.Content("~/js/common-pages.js")?guid=@guid"></script>

    <script type="text/javascript" src="~/toastr.min.js?guid=@guid"></script>
    <script type="text/javascript" src="~/ToastrHelper.js?guid=@guid"></script>

    <script>
        $(document).ready(function () {
            localStorage.removeItem("UserLayers");
            localStorage.removeItem("SessionUser");
            localStorage.removeItem("UserId");
            localStorage.removeItem("UserUILanguage");
            localStorage.removeItem("BasarFileModel");
            localStorage.removeItem("UserLoginToken");

            var model = JSON.parse($('#hdMessages').val());
            if (model.Messages && model.Messages.length) {
                for (var i = 0; i < model.Messages.length; i++) {
                    ShowError(model.Messages[i]);
                }
            }
        });
    </script>
</body>
</html>
